<div>
    <span>
        <p>Set: {{set}}</p>
        <p>Game: {{game}}</p>
        <p *ngIf="isTiebreak">Tiebreak</p>
    </span>
    
    <div id="teamA-score-this-game">{{teamAScoreThisGame}}</div>
    <div id="teamB-score-this-game">{{teamBScoreThisGame}}</div>
    <button id="temaA-point-button" (click)="addPointToTeamA()">Team A Point</button>
    <button id="temaB-point-button" (click)="addPointToTeamB()">Team B Point</button>
    <div id="games-score-band">{{this.teamANumberOfGamesThisSet}} - {{this.teamBNumberOfGamesThisSet}}</div>
    <div id="sets-score-band"></div>
</div>